.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.jutify-center{
    justify-content: center;

}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
margin: 5px;
}
.p-1{
    padding: 10px;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background color for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Dark color for the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
    border: 3px solid #1a1a1a; /* Adding a border for better visual separation */
}

::-webkit-scrollbar-thumb:hover {
    background: #888; /* Lighter color for the scrollbar thumb on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Thin scrollbar width */
    scrollbar-color: #555 #1a1a1a; /* Thumb color and track color */
}

/* For IE and Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* For all elements */
* {
    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a;
}
